<style>
    :root {
        /* Primary theme color */
        --primary-color: #16baaa;
        /* Primary theme text color */
        --primary-text-color: #2f363c;
        --primary-text-color-over: #23292e;
        /* Primary theme link color */
        --primary-link-color: #31bdec;
        /* Secondary color: the background body color */
        --secondary-color: #fafafa;
        --secondary-text-color: #2f363c;
        /* Highlight text color of table of content */
        --toc-highlight-text-color: #16b777;
        --toc-background-color: white;
        --code-color: #2f363c;
        --code-background-color: white;

        --shadow-color: #dddddd;

        /* Font used for headers (h1 & h2) */
        --header-font-family: "Fira Sans", sans-serif;
        /* Font used for text */
        --text-font-family: "Fira Sans", sans-serif;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --primary-color: #382929;
            --primary-text-color: #d7d7d7;
            --primary-text-color-over: #FFF;
            --primary-link-color: #9b9b9b;
            --secondary-color: #282828;
            --secondary-text-color: #f2f2f2;
            --toc-highlight-text-color: #f2f2f2;
            --toc-background-color: #3a3a3a;
            --code-color: white;
            --code-background-color: #4a4a4a;

            --shadow-color: #202020;
            --header-font-family: "Fira Sans", sans-serif;
            --text-font-family: "Fira Sans", sans-serif;
        }
    }
</style>
